<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}

    {{ block "styles" . }}{{ end }}
  </head>
<body id="body">
    {{ partial "header.html" . }}
    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}

    <script src="/js/smooth-scrollbar.min.js"></script>
    {{ $mainJS := resources.Get "js/main.js" | resources.Minify }}
    <script src="{{ $mainJS.RelPermalink }}"></script>

    {{ block "scripts" . }}{{ end }}
</body>
</html>
