<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-565NKCB4YD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-565NKCB4YD');
    </script>
    {{ partial "head.html" . }}

    {{ block "styles" . }}{{ end }}
  </head>
<body id="body">
    {{ partial "header.html" . }}
    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}

    <script src="/js/smooth-scrollbar.min.js"></script>
    {{ $mainJS := resources.Get "js/main.js" | resources.Minify }}
    <script src="{{ $mainJS.RelPermalink }}"></script>

    {{ block "scripts" . }}{{ end }}
</body>
</html>
