{{ define "main" }}
<div id="work" class="container">

  {{ with .Params.video }}
  {{ $id := replaceRE "https?://([a-z\\./]+)" "" . }}
  <div class="video-container">
	{{ if in . "youtube" }}
  <iframe src="https://youtube.com/embed/{{ $id }}" frameborder=0 autoplay=true></iframe>
	{{ end }}

	{{ if in . "vimeo" }}
	<iframe src="https://player.vimeo.com/video/{{ $id }}?autoplay=1&color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
	{{ end }}
  </div>
  {{ end }}

  <div class="work-header">
    <div class="work-header-left">
        <h1>{{ .Title }}</h1>
        <div class="work-header-services">
        {{ if .Params.Services }}
          {{ range .Params.Services }}
            <a class="service-button" href="{{ .url }}">{{ .title }}</a>
          {{ end }}
        {{ end }}
        </div>
    </div>
    <div class="work-header-right">
        <div>
            <h1>{{ .Params.Client }}</h1>
            {{ if .Params.Location }}
            <h2>{{ .Params.Location }}</h2>
            {{ end }}
        </div>
    </div>
  </div>

  <div class="work-image">
      {{ range first 1 (.Resources.Match "*{png,jpg}") }}
        <img src="{{ .RelPermalink }}" alt="" loading="lazy" />
      {{ end }}
  </div>

  <h2 class="work-h2">
      {{ .Params.headlineText }}
  </h2>

  <div class="work-image">
      {{ range first 1 (after 1 (.Resources.Match "*{png,jpg}")) }}
        <img src="{{ .RelPermalink }}" alt="" loading="lazy" />
      {{ end }}
  </div>

  <div class="work-text-grid">
    <h3>
        {{ .Params.leftText }}
    </h3>
    <p>
        {{ .Params.rightText }}
    </p>
  </div>

    <div class="content">
        {{ .Content }}
    </div>

</div>
{{ end }}
