{{ define "main" }}

    {{ $headless := .Site.GetPage "/homepage" }}
    {{ $reusablePages := $headless.Resources.ByType "page" }}
    {{ $reusablePages := sort $reusablePages ".Params.weight" }}
    {{ range $reusablePages }}
        {{ if eq .Params.sectionType "welcome" }}
        <section class="home-welcome" style="background-image: url('{{ .Params.background | relURL}}');">
            <div class="container">
                <div class="home-welcome-content">
                    <h1>{{ .Title }}</h1>
                    <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
                </div>
            </div>
            <div class="home-welcome-filter" style="background-color: {{ .Params.filterColor }};opacity: {{ .Params.filterOpacity }};"></div>
        </section>
        {{ end }}
        {{ if eq .Params.sectionType "about" }}
        <section class="home-about" style="background-image: url('{{ .Params.background | relURL}}');">
            <div class="container">
                <div class="home-about-content">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Content }}</p>
                </div>
            </div>
            <div class="home-about-filter" style="background-color: {{ .Params.filterColor }};opacity: {{ .Params.filterOpacity }};"></div>
        </section>
        {{ end }}
        {{ if eq .Params.sectionType "services" }}
        <section class="home-services">
            <div class="container">
                <div class="home-services-content">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Content }}</p>
                    <div class="home-services-list">
                        {{ $services := where (where .Site.RegularPages "Type" "service") ".Params.featured" true }}
                        {{if gt (len $services) 0}}
                            {{ range first 6 (sort $services ".Params.weight") }}
                                {{ with .Resources.Match "*_main*" }}
                                {{ range sort . }}
                                {{ $image := . }}
                                <a href="#" class="home-services-item" style="background-image: url('{{ $image.RelPermalink }}');">
                                {{ end }}
                                {{ end }}
                                    <div class="home-services-item-content">
                                        <h3>{{ .Title }}</h3>
                                    </div>
                                    <div class="home-services-item-filter"></div>
                                </a>
                            {{ end }}
                        {{ end }}
                    </div>
                    <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
                </div>
            </div>
        </section>
        {{ end }}
        {{ if eq .Params.sectionType "work" }}
        <section class="home-work" style="background-image: url('{{ .Params.background | relURL}}');">
            <div class="container">
                <div class="home-work-content">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Content }}</p>
                    <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
                </div>
            </div>
            <div class="home-work-filter" style="background-color: {{ .Params.filterColor }};opacity: {{ .Params.filterOpacity }};"></div>
        </section>
        {{ end }}
    {{ end }}

{{ end }}
